body {
  background:lightgray;
}

h1 {
  color: teal;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

h2 {
  color: teal;
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
}

p {
  font-size: 15px; 
}

.large_image{
  width: 500px;
  height: 400px;
  padding-top: 15px;
}

.small_image {
  width: 150px;
  height: 150px;
  padding-top: 10px;
}

.small_image_humid {
  width: 150px;
  height: 150px;
  border-style: solid;
  color:teal;
  padding-top: 10px;
} 

.box {
  background: white;
  padding:30px;
  float: left;
  position: relative;
  margin-top: 70px;
}

.boxtwo {
  background: white;
  padding: 30px;
  float: right;
  position: relative;
  margin-top: 70px;
}

 
.navbar{
  background-color: white;
  overflow: visible;
}


.heading{
  background-color: teal;
  color: white;
  font-size: 30px;
  padding: 30px;
}


li {
  float: left;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.links{
  background-color: white;
  color: black;
  display: block;
  text-align: center;
  padding: 14px 16px;
  border: none;  
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn{
  background-color: white;
  color: black;
  text-align: center;
  padding: 14px 16px;
  border: none;
  outline: none;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 175px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  float: none;
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  text-align: right;
}

.dropdown:hover .dropdown-content{
  display: block;
}

  